@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
bode{
    background-color: white;
}
header{
    padding-top: 40px;
    background-color: black;
}
header h1{
    color:white;
    text-align: center;
}
nav{
   padding-top: 10px;
   padding-bottom: 30px;
}
nav p{
    color: white;
    text-align: center;
    
}
nav a{
    text-decoration: none;
    color: white;
}
main{

}
main p{
    width:200px;
    padding-left: 10px;
}